<html ng-app="app">
    <head>
        <!-- Dev bracnh changes -->
        <title> My First Angualr App </title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <style>
            .old { background-color: grey }
            .modern { background-color: burlywood }
            .new { background-color: green }
            .like { background-color: lightgray; border: grey 1px solid }
        </style>
    </head>
    <body>
        <div ng-controller="MainController">
            <form ng-submit="addMovie()">    
                <div class="like">
                    Title: 
                    <input 
                    type="text"
                    ng-focus="onFocus()"
                    ng-blur="onBlur()" 
                    ng-model="newTitle">
                    <br>
                    Year: <input type="text" ng-model="newYear">
                    <br>
                    <input type="submit" value="Add new Movie">
                </div>
            </form>
            <div class="like" ng-if="likeList.length">
                Talat' Likes Movie
                <ul>
                    <li ng-repeat="item in likeList">
                        <p><h2>{{item.name}}</h2></p>
                        <a href="" ng-click="unlikeClick($index)">unlike</a>
                    </li>
                </ul>
            </div>
            <ul>
                <li 
                ng-class="movie.year < 2010 ? 'old' : 'modern'"
                ng-repeat="movie in movies">
                    <h2>Movie Name: {{movie.name}} {{$index}}</h2>
                    <p ng-hide="!movie.popular">
                        This movie is popular!</p>
                    <p ng-hide="movie.popular"></p>
                    <p ng-if="movie.year > 2010">New movie ({{movie.year}}) </p>
                    <input type="text" ng-model="movie.year">
                    <div ng-switch="movie.category">
                        <div ng-switch-when="thriller">
                            Thriller
                        </div>
                        <div ng-switch-when="action">
                            Action
                        </div>
                        <div ng-switch-when="drama">
                            Drama
                        </div>
                        <div ng-switch-default>
                            no category
                        </div>
                    </div>
                    <a  href="" ng-click="likeClick(movie)">like</a>
                    <p></p>
                </li>
            </ul>

            <!-- <ul>
                <li ng-repeat="like in likes">{{like}}</li>
            </ul> -->
        </div>
        <script src="js/app.js"></script>
        <script src="js/maincontroller.js"></script>
    </body>
</html>